
// _colors.scss

$primary-color: #333;
$secondary-color: #ff0000;
$background-light-grey: #e7e7e7;
$border-color: #333333;
$light-bg-color: $primary-color;
$light-text-color: white;
$light-hover-color: $secondary-color;
$dark-bg-color: #000000;
$dark-text-color: white;
$dark-hover-color: yellow;