
%background-light-grey {
    background-color: #e7e7e7;
  }
  
  .navbar {
    background-color: #333;
    text-align: center;
    
    .menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
  
      li {
        margin: 0 20px;
  
        a {
          text-decoration: none;
          color: white;
          font-size: 18px;
  
          &:hover {
            color: #ff0000;
          }
        }
  
        &:last-child {
          @extend %background-light-grey;
          border-color: #333333;
          border-style: solid;
          border-width: 1px;
        }
      }
    }
  }
  .container {
    display: flex;
    margin-top: 20px;
  }
  
  .content {
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .content1 {
    flex: 1;
    background-color: #f4f4f4;
  }
  
  .content2 {
    flex: 3;
    background-color: #e4e4e4;
  }
  