
@import 'colors';

.navbar {
  background-color: $primary-color;
  text-align: center;

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

    li {
      margin: 0 20px;

      a {
        text-decoration: none;
        color: white;
        font-size: 18px;

        &:hover {
          color: $secondary-color;
        }
      }

      &:last-child {
        background-color: $background-light-grey;
        border-color: $border-color;
        border-style: solid;
        border-width: 1px;
      }
    }
  }
}

.container {
  display: flex;
  margin-top: 20px;
}

.content {
  padding: 20px;
  border: 1px solid #ccc;
}

.content-1 {
  flex: 1;
  background-color: #f4f4f4;
}

.content-2 {
  flex: 3;
  background-color: #e4e4e4;
  font-size: px-to-em(24px);
}

@import 'colors';
@import 'theme';

// Tema chiaro per la navbar
.navbar.light-theme {
  @include theme($light-bg-color, $light-text-color, $light-hover-color);
}

// Tema scuro per la navbar
.navbar.dark-theme {
  @include theme($dark-bg-color, $dark-text-color, $dark-hover-color);
}

@function px-to-em($px-value, $base-font-size: 16px) {
    @return $px-value / $base-font-size * 1em;
  }