$primary_1: #333;
$primary_2:#ff0000;
$fontsize: 18px;

.navbar {
    background-color:$primary_1;
    text-align: center;
    
    .menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
  
      li {
        margin: 0 20px; 
  
        a {
          text-decoration: none;
          color: white;
          font-size:$fontsize;
  
          &:hover {
            color:$primary_2;
          }
        }
      }
    }
  }